{% load static leaflet_tags%}

<link rel="stylesheet" type="text/css" href="{% static 'sensors/style.css' %}">
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 100%;
    }

    #specialbigmap {
        height: 1200px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
{% leaflet_css %}
<!DOCTYPE html>




<html>
    <head>

        {% leaflet_js %}
        <title>Sensor Map</title>

    </head>
    <body>
        <header>
            <h1>{{ City }}</h1>

        </header>
        <form action="" method="post">
                {% csrf_token %}
                {{ form.as_table  }}
                <input type='submit' value='POST'/>
        </form>
    {% leaflet_map "main" callback="map_init" %}

    </body>
</html>

<script type="text/javascript">
    function map_init(map, options) {
        var sum_sensor = 0
        var n_sensor_readings = 0
        {% for e in object_list %}
            ab = {{ e.lat_lng }}
            sen = {{ e.sensor_data }}
            battery_1 = {{ e.battery_voltage_main }}
            battery_2 = {{ e.battery_voltage_secondary }}
            sum_sensor = sen + sum_sensor
            n_sensor_readings = n_sensor_readings + 1
        {% endfor %}
        var average_sensor = sum_sensor / n_sensor_readings
        co2_sensor = average_sensor.toFixed(2)
        display = "CO2 (ppm) <br>".concat(co2_sensor).concat("<br>Main Battery<br>").concat(battery_1.toFixed(2)).concat("V<br>Modem Battery<br>").concat(battery_2.toFixed(2)).concat("V")
        L.marker(ab).bindTooltip(display,{permanent: true,direction: 'right'}).addTo(map);
        map.setView(ab, 10)


    }
</script>

